# AirBnB NY Locations Data Case Study

In this final project, you task will be to take the data provided and find evidance to answer the following questions.

1. Which hosts are the busiest and why?
2. How many neighborhood groups are available and which shows up the most?
3. Are private rooms the most popular in manhattan?
4. Which hosts are the busiest and based on their reviews?
5. Which neighorhood group has the highest average price?
6. Which neighborhood group has the highest total price?
7. Which top 5 hosts have the highest total price?
8. Who currently has no (zero) availability with a review count of 100 or more?
9. What host has the highest total of prices and where are they located?
10. When did Danielle from Queens last receive a review?

You will be given **4 hours** to complete this assignment. 
**Be Advised** I will go dark for this intire assignment time period. That said, any questions that you would like to ask about the data, or the project **MUST** be asked before the time starts. Once the time has started, I can no longer give information.

This is to similate what you will face when you are out in the wild. 

Happy Coding!

In [4]:
import numpy as np
import pandas as pd
#import matplotlib.pyplot as plt

In [5]:
air_bnb = pd.read_csv('AB_NYC_2019.csv')
air_bnb.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,2018-10-19,0.21,6,365
1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,2019-05-21,0.38,2,355
2,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,NaN,NaN,1,365
3,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,270,2019-07-05,4.64,1,194
4,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9,2018-11-19,0.10,1,0

In [111]:
# How many neighborhood groups are available and which shows up the most?

#1. count the number of neighborhood groups ***nunique():returns the number of unique values for each column
count_neighbourhood_group = air_bnb['neighbourhood_group'].nunique()

#2. find the total showing up number of each group  ***idxmax(): returns a Series with the index of the maximum value for each column
popular_neighbourhood_group = air_bnb.groupby('neighbourhood_group')['calculated_host_listings_count'].sum().sort_values(ascending=False)
most_popular_neighbourhood_group = popular_neighbourhood_group.idxmax()()

print(f'{count_neighbourhood_group} neighbourhood group are availbale and {most_popular_neighbourhood_group} shows up the most.')

5 neighbourhood group are availbale and Manhattan shows up the most.

In [109]:
# Are private rooms the most popular in manhattan?

#1. find out the usage of each room type in manhattan
count_mahhantan_room_type = air_bnb[air_bnb['neighbourhood_group'] == 'Manhattan'].groupby('room_type').size().reset_index(name='room_type_count')
##count_mahhantan_room_type

#2. find the most popular room type by using the table just created
most_popular_room_type = count_mahhantan_room_type.loc[0]['room_type']

print(f'{most_popular_room_type} is the most popular room typ in Manhattan, not private room.')

Entire home/apt is the most popular room typ in Manhattan, not private room.

In [122]:
# Which hosts are the busiest and based on their reviews?

#1. find the total reviews of each hots
count_total_num_of_reviews = air_bnb.groupby('host_name')['number_of_reviews'].sum().sort_values(ascending=False).reset_index(name='total_reviews')

#2. find the name of the busiest host
busiest_host_name = count_total_num_of_reviews.loc[0]['host_name']
busiest_host_total_reviews = count_total_num_of_reviews.loc[0]['total_reviews']

print(f'{busiest_host_name} is the the busiest host with {busiest_host_total_reviews} reviews.')

Michael is the the busiest host with 11081 reviews.

In [221]:
#Which neighorhood group has the highest average price?

#1. group by neighbourhood_group and find the average price
neighbourhood_group_average_price = air_bnb.groupby('neighbourhood_group')['price'].mean().sort_values(ascending=False).reset_index(name='average_price')

#2. extraction: find the highest one
highest_neighorhood_group_average_price = neighbourhood_group_average_price.loc[0]['neighbourhood_group']

print(f'{highest_neighorhood_group_average_price} has the highest average price.')

Manhattan has the highest average price.

In [42]:
# Which neighbor hood group has the highest total price?

#1 group by neighbourhood_group and find the total price
neighbourhood_group_total_price = air_bnb.groupby('neighbourhood_group')['price'].sum().sort_values(ascending=False).reset_index(name='total_price')

#2. extraction: find the highest one
highest_neighbourhood_group = neighbourhood_group_total_price.loc[0]['neighbourhood_group']

print(f'{highest_neighbourhood_group} has the highest total price.')

Manhattan has the highest total price.

In [23]:
#Which top 5 hosts have the highest total price?

#1 group by host_name and find the total price
hosts_total_price = air_bnb.groupby('host_name')['price'].sum().sort_values(ascending=False).reset_index(name='total_price')


#2. extraction: find the top 5 hosts
top_5_hosts_total_price = hosts_total_price.loc[0:4]['host_name']

print("Below are the top 5 hosts have the highest total price:")
for name in top_5_hosts_total_price:
    print(name)

Below are the top 5 hosts have the highest total price:
Sonder (NYC)
Blueground
Michael
David
Alex

In [89]:
# Who currently has no (zero) availability with a review count of 100 or more?

#1. filter host w. over over 99 reviews
review_over_hundred = air_bnb[air_bnb['number_of_reviews'] > 99].sort_values(by='number_of_reviews',ascending=False)

#2. find hosts with no availability (plus have over 99 reviews)
not_availability = review_over_hundred[review_over_hundred['availability_365'] == 0].reset_index(drop=True)

#3. extraction: select relevant columns and drop duplicates
##host_not_availability_with_over_hundred_reviews = not_availability[['host_name', 'availability_365', 'number_of_reviews']]
busy_hosts_drop_dup = not_availability.drop_duplicates(subset='host_name').reset_index(drop=True)

print("Below are the hosts who have no availability with more than 100 reviews:")
for name in busy_hosts_drop_dup['host_name']:
    print(name)

Below are the hosts who have no availability with more than 100 reviews:
Wanda
Gurpreet  Singh
Deloris
Veronica
James
Kyle
Dragan
Kc
Karen
Brian
Neil & Katie
S
Sofia
Ravanna
Doug
Jsun
Carlina
Ori
Dante
Michelle
Long
Hayes
Véronique
Michael
Sol
Kent
Ehren
Lasata
Evelyn
Emily And Joel
Lane
Jimmy
Jillian
Misty
Benjamin
Summer
Lorena
Andreas
Sam
Sasha
Giovanni
Christiana
Gabriela
Jeremy
AJ And Freddy
Sarah
Stacey
Brendan
Elle
Louise
Ame
Antonia
正川
Graham
Jo & Savannah
Evan
Nick
Gillian
Cedrick
William
Lissette
Maba
Katarina
Bernard
Yuval
Molly
Andrew
Adrienne
Micah
Anthony
Ingrid
Deborah
J
Alex
Edward
Stephany
Taylor & Tee
Liz And Melissa
Maeve
Karece
Nicole
Liz
Margarita
Fred
Elliott
Ben
Trevor
Alexandra
Kaka
Aurea
Andy & Friends
Krysta
Janet
Erin
Caroline
Natalie
MaryEllen
Mohamed
Steven
Catrina
Ron
Terri
Jon
Chao
Ivy
Airamis
Coral
Emily
Chelsea
George & Diana
Mariluz
Angelo
Qiyao
Marcelo
Jeanine
nan
Jenifer
Alvaro
Lou
Devin
DeLex
Pj
Greg
Lydia
Felipe
Jie
Megan E
Ash
Richard
Masha
Deanna
Chadanut
Kathleen
Danielle
Albert
Anna
Karin
Jake
Raymond
Marisha
Abraham
Braydon

In [86]:
# What host has the highest total of prices and where are they located?

#1. find out who has the highest total of prices
info_with_total_price = air_bnb.groupby(['host_name', 'neighbourhood_group', 'neighbourhood'])['price'].sum().sort_values(ascending=False).reset_index()

#2. use the name to find out where are the properties
name = info_with_total_price.loc[0]['host_name']
neighbourhood_group = info_with_total_price.loc[0]['neighbourhood_group']
neighbourhood = info_with_total_price.loc[0]['neighbourhood']
    
print(f'{name} has the highest total of prices and they are located in {neighbourhood}, {neighbourhood_group}.')

Sonder (NYC) has the highest total of prices and they are located in Financial District, Manhattan.

In [363]:
# When did Danielle from Queens last receive a review?

#1. find the host called Danielle
find_Danielle = air_bnb[air_bnb['host_name'] == 'Danielle']

#2. find Danielle from Queens
find_Danielle_from_Queens = find_Danielle[find_Danielle['neighbourhood_group'] == 'Queens'].sort_values(by='last_review', ascending=False)

#3. find when Danielle from Queens receive the last review
find_Danielle_from_Queens_filter = find_Danielle_from_Queens[['host_name','neighbourhood_group','last_review']].dropna().reset_index().head(1)

for index, row in find_Danielle_from_Queens_filter.iterrows():
    date = row['last_review']
    print(f'Danielle from Queens last receive a review on {date}.')

Danielle from Queens last receive a review on 2019-07-08.

## Further Questions

1. Which host has the most listings?

In [54]:
#1. filtration
most_listings = air_bnb.groupby('host_name')['calculated_host_listings_count'].sum().sort_values(ascending=False).reset_index()

#2. extraction
name = most_listings.loc[0]['host_name']
count_listings = most_listings.loc[0]['calculated_host_listings_count']

#print(f"{name} currently holds the highest number of listings, totaling {count_listings} across all properties.")
print(f"{name} currently holds the highest number of listings.")

Sonder (NYC) currently holds the highest number of listings.

2. How many listings have completely open availability?

In [52]:
#1. filter the DataFrame to include only listings with availability equal to 365
available = air_bnb[air_bnb['availability_365'] == 365]

#2. count the number of listings with completely open availability
total_listings_open_availability = available.shape[0]

print("Total listings with completely open availability:", total_listings_open_availability)

Total listings with completely open availability: 1295

3. What room_types have the highest review numbers?

In [57]:
#1. filtration
room_types_total_reviews = air_bnb.groupby('room_type')['number_of_reviews'].sum().sort_values(ascending=False).reset_index()

#2. extraction
highest_room_type = room_types_total_reviews.loc[0]['room_type']
highest_room_type__reviews = room_types_total_reviews.loc[0]['number_of_reviews']

print(f'{highest_room_type} category boasts the highest number of reviews.')

Entire home/apt category boasts the highest number of reviews.

# Final Conclusion

In this cell, write your final conclusion for each of the questions asked.

Also, if you uncovered some more details that were not asked above, please discribe them here.

-- Add your conclusion --

In [123]:
#1. find out who is the busiest host
busiest_host = air_bnb.groupby('host_name').size().idxmax()
num_bookings = air_bnb.groupby('host_name').size().max()
print(f'The busiest host is {busiest_host} with {num_bookings} bookings.')

#2. analyze why he is the busiest host

#3. 
#reviews
print(f'{busiest_host_name} receicived the most {busiest_host_total_reviews} reviews.')

The busiest host is Michael with 417 bookings.
Michael receicived the most 11081 reviews.